<div id="container">
    <!-- load the map in background -->
    <map id="map" ng-if="ctrl.initMapFinished"></map>

    <!-- List of available elections and their evolution -->
    <!-- Click to display one of them -->
    <div id="election-buttons" class="text-center">
        <div class="btn-group" style="{height:100%}">
            <button type="button" class="btn btn-primary elecButton"
                    ng-repeat="button in ctrl.elections" ng-class="{'active':ctrl.currentElection==button.election_id}" ng-click="ctrl.changeElection(button)" >
                <p>{{button.electionShortName}}</p>
            </button>
            <button type="button" class="btn btn-success elecButton" ng-click="ctrl.displayEvo()">
                <i class="material-icons md-18">trending_up</i>
            </button>
        </div>
    </div>

    <!-- List of labels present in currently displayed election -->
    <!-- Click to focus on one label -->
    <div ng-if="ctrl.partyList.length > 0" id="partyList">
        <p class="partyListBox" ng-repeat="party in ctrl.partyList" ng-style="{color:party.color}" >
            <input type="radio" id="party" ng-model="ctrl.currentParty" ng-click="ctrl.changeParty()" value="{{party.label}}"></input>
            {{party.label}}
        </p>
        <hr>
        <p class="labelBox" ng-style="{color:ctrl.settings.abstentionColor}">
            <input type="radio" id="label" ng-model="ctrl.currentParty" ng-click="ctrl.changeParty()" value="abstention"></input>
        Abstention
        </p>
    </div>

    <!-- Display the reference color scale -->
    <div id="colorscale">
        <div id="scalecontainer">
            <span class="colorscale" ng-repeat="scalepart in ctrl.colorScale" ng-style="scalepart"> </span>
            <span class="textscale" ng-repeat="scalepart in ctrl.textScale" ng-style="{left:scalepart.left, right:scalepart.right}">{{scalepart.text}}</span>
        </div>
    </div>
    <!-- Choose themax value on the color scale -->
    <div id="sliderColorScale" class="sliderColorScale">
        <p> Echelle de couleur : </p>
        <input id="slider" type="range" min="1" max="100" value="25" ng-model="ctrl.currentMaxScore" ng-change="ctrl.changeMaxColor()" />
        <input id="sliderValue" type="text" ng-model="ctrl.currentMaxScore" ng-change="ctrl.changeMaxColor()" />
        <span>%</span>
    </div>

    <!-- Display the details for one voting area - either by hovering on it or clicking on it -->
    <div id="tooltip" ng-if="ctrl.displayTooltip">
        <p class="name">{{ctrl.tooltipVz.Name}}</p>
        <p ng-repeat="result in ctrl.tooltipVz.partyResults">
            <span class='label' ng-style="{color:result.color}">{{result.label}}</span>
            <span ng-style="{color:result.color}"> : </span>
            <span class='score' ng-style="{color:result.color}">{{result.ratio_exprimes}} %</span>
        </p>
        <hr>
        <p>
            <span class='label' ng-style="{color:ctrl.settings.abstentionColor}">Abstention</span>
            <span ng-style="{color:ctrl.settings.abstentionColor}"> : </span>
            <span class='score' ng-style="{color:ctrl.settings.abstentionColor}">{{ctrl.tooltipVz.non_exprimes_ratio}} %</span>
        </p>
    </div>
</div>
