html, body, #ng-view
{
    height: 100%;
    margin: 0;
    padding: 0;
}

#container
{
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    display: block;
}

#election-buttons
{
    position: absolute;
    top: 20px;
    left: 0px;
    right: 0px;
    text-align: center;
}

.elecButton
{
    height: 40px;
}
